<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title || defineContent('title')  %></title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/fontawesome-all.css">
  <link rel="stylesheet" href="/css/setting.css">
  <%- defineContent('style') %>  
</head>
<body>
  <%- defineContent('body') %>
  <script src="/js/Jquery-3.3.1.js"></script>
  <script src="/js/main.js"></script>
<%- defineContent('script') %>
<script src="/plugin/home/particleEffectButton/anime.min.js"></script>
<script src="/plugin/home/particleEffectButton/particles.js"></script>
<script src="/plugin/home/particleEffectButton/demo.js"></script>
</body>
</html>